# Created by https://www.gitignore.io/api/perl6
# Edit at https://www.gitignore.io/?templates=perl6

### Perl6 ###
# Gitignore for Perl 6 (http://www.perl6.org)
# As part of https://github.com/github/gitignore

# precompiled files
.precomp
lib/.precomp


# End of https://www.gitignore.io/api/perl6
